body {
    margin: 0;
}
a {
    color: white;
    text-decoration: none;
}
.f-page {
    padding: 6.25rem;
    text-align: center;
    background-color: #DFD3C3;
    color: 7D6E83;
    height: 65%;
}
h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5rem;
}

.btn {
    -webkit-border-radius: 45;
    -moz-border-radius: 45;
    border-radius: 45px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 19px;
    background: #DFD3C3;
    padding: 10px 20px 10px 20px;
    border: solid white 4px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #7D6E83;
    text-decoration: none;
    border-color: #7D6E83;
}
#playground {
    height:100%;
    padding: 4rem 17rem 20rem 17rem;
    background-color: #F8EDE3;
}
#demo {
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    top: 1rem;
    left: 2rem;
}
.cards {
    float: left;
    width:105px;
    height:150px;
    background-color: D0B8A8;
    text-align: center;
    color: D0B8A8;
    font-family: Segoe UI;
    border: 3px solid;
    border-color: 7D6E83;
    line-height: 150px;
    cursor: pointer;
    user-select: none;
    margin: 5px;
    
}
.active {
    border-color: white;
    background-color: #F8EDE3;
    color: 7D6E83;
    font-weight: bold;
}
.hidden {
    visibility: hidden;
}